<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script>
        (function() {
            var savedColor = sessionStorage.getItem('primaryColor');
            if (savedColor) {
                var style = document.createElement('style');
                style.innerHTML = `:root { --primary-color: ${savedColor}; }`;
                document.head.appendChild(style);
            }
        })();
    </script>
</head>
<body>
<style>

    .button-head{
        padding-top:19%;

        padding-left: 10%;
    }
    h3{
        padding-bottom: 2%;
    }
    .different{
         border: 2px solid var(--primary-color);
    background-color: black;
    width: 30%;
    outline: none;
    padding: 15px;
    margin: 5px 0;
    color: #fff;
    font-size: 18px;
    border-radius:6px;

    }
    .different button:hover{
    background-color: #262626;
    cursor: pointer;
}

</style>
<div id="header">
    <div class="button-head">
          <h3>
We have updated your password successfully....
</h3>
<a href="{% url 'login' %}"><button type="button" class="different">Login</button></a>
</div>
    </div>

</body>
</html>