{% extends 'base.html' %}
{% block title %} Password Confirm {% endblock %}

{% load static %}
{% block content %}
<script>
        (function() {
            var savedColor = sessionStorage.getItem('primaryColor');
            if (savedColor) {
                var style = document.createElement('style');
                style.innerHTML = `:root { --primary-color: ${savedColor}; }`;
                document.head.appendChild(style);
            }
        })();
    </script>
<style>
    /* Media query for screens larger than 992px */
    @media (min-width: 992px) {
        .custom-padding {
            padding-top: 14%; /* Adjust as needed */
        }
    }

    .contact_wrapper {
        min-height: 100vh; /* Ensure the section takes up at least the full viewport height */
        padding-bottom: 50px; /* Adjust padding as needed to create space between content and footer */
    }

    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<div id="header">
    <section id="Login" class="contact_wrapper">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6 order-2 order-lg-1 pe-lg-5 text-lg-start text-center custom-padding">
                    <!-- Apply .custom-padding class here -->
                    <img src="{% static 'boss.jpg' %}" class="img-fluid d-block d-sm-block d-md-none custom-img" alt="Hasnain Muavia">
                    <h2 ><span style="color: var(--primary-color)">Account</span> Recovery</h2>
                   <p style="overflow: visible" class="text-white">Thank you for using our services, we have provided you a link to reset your password,
                     please follow the instructions that are available on your email</p>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}
