{% extends 'base.html' %}
{% block title %} Password Confirm {% endblock %}

{% load static %}
{% block content %}
<script>
        (function() {
            var savedColor = sessionStorage.getItem('primaryColor');
            if (savedColor) {
                var style = document.createElement('style');
                style.innerHTML = `:root { --primary-color: ${savedColor}; }`;
                document.head.appendChild(style);
            }
        })();
    </script>
<style>
    /* Media query for screens larger than 992px */
    @media (min-width: 992px) {
        .custom-padding {
            padding-top: 14%; /* Adjust as needed */
        }
    }

    .contact_wrapper {
        min-height: 100vh; /* Ensure the section takes up at least the full viewport height */
        padding-bottom: 50px; /* Adjust padding as needed to create space between content and footer */
    }

    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<div id="header">
    <section id="Login" class="contact_wrapper">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6 order-2 order-lg-1 pe-lg-5 text-lg-start text-center custom-padding">
                    <!-- Apply .custom-padding class here -->
                    <img src="{% static 'boss.jpg' %}" class="img-fluid d-block d-sm-block d-md-none custom-img" alt="Hasnain Muavia">
                    <h2><span style="color: #ff004f">Reset</span> Password</h2>
                    <p class="text-white">Your Password must be 8 Characters long at least have one special symbol, one uppercase, one
                    lowercase, one digit</p>
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="mb-4 mt-3">
                           <input type="password" class="form-control" name="new_password1" autocomplete="new-password" required="" aria-describedby="id_new_password1_helptext" id="id_new_password1" placeholder="Password">
                        </div>
                        <div class="mb-4 mt-3">
                           <input type="password" class="form-control" name="new_password2" autocomplete="new-password" required="" aria-invalid="true" id="id_new_password2" placeholder="Confirm Password">
                        </div>

                        <div class="btn me-4 mt-2">
                            <div class="submit-row"><input type="submit" value="Change my password" style="background-color: transparent; color: var(--primary-color); border: none; font-size: 18px; font-weight: 500;"
                                    onmouseover="this.style.color='black'"
                                    onmouseout="this.style.color='red'">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}
